<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {title: "Admin", css: '/css/admin.css'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <div id="container">
        <h1>All Products</h1>
        <h2>Manage Products</h2>
        <div id="add-product">
          <a href="/add_product">Add Product</a>
        </div>
        <% if (products.length < 1){ %>
        <p>No Product found, Please create some !</p>
        <% } %>
        <ul>
          <% for(const product of products) { %>

          <li>
            <img src="<%= product.path %>" alt="Product" />
            <h3><%= product.name %></h3>
            <div id="product-actions">
              <a href="/update_product/<%= product._id %>">View & Edit</a>
              <form action="/delete_product" method="POST">
                <input
                  type="hidden"
                  name="deleteID"
                  value="<%= product._id %>"
                />
                <button>Delete</button>
              </form>
            </div>
          </li>

          <% } %>
        </ul>
      </div>
    </main>
  </body>
</html>
