<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {title: "Detail", css: '/css/detail.css'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <div id="item">
        <div id="img-container">
          <img
            src="/<%= product.path %>"
            alt="Product"
          />
        </div>

        <div id="Product-detail">
          <h2><%= product.name %></h2>
          <p><%= product.summary %></p>
          <p>$<span><%= product.price %></span></p>

          <div id="Add-button">
            <button>Add</button>
          </div>
        </div>
      </div>

      <div id="description">
        <%= product.description %></p>
      </div>
    </main>
  </body>
</html>
