<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {title: "Dashboard", css: '/css/style.css'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <div id="container">
        <h1>All Products</h1>
        <% if (products.length < 1){ %>
          <p>No Product found!</p>
          <% } %>
        <ul>
          <% for(const product of products) { %>

          <li>
            <img
              src="<%= product.path %>"
              alt="Product"
            />
            <h3><%= product.name %></h3>
            <a href="/detail/<%= product._id %>">View Detail</a>
          </li>
        
          <% } %>
        </ul>
      </div>
    </main>
  </body>
</html>
